body {
  background: url(/images/bg-intro-desktop.png), hsl(0, 100%, 74%);
  height: 100vh;
  /* margin: 2rem; */
  padding: 2rem 8rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: inline-flex;
}

.main-ad {
  padding: 10rem 0rem;
  color: #fff;
}

.free-trial,
.main-ad {
  width: 50%;
  margin: 1rem;
}

.main-ad h1 {
  font-size: 3rem;
}

.card-header {
  border: 1px solid hsl(248, 32%, 49%);
  padding: 0.5rem;
  border-radius: 10px;
  background: hsl(248, 32%, 49%);
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}

.card-header p {
  font-weight: 400;
}

.trial {
  font-weight: 600;
}

.form-card {
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 10px;
}

.fields {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-card p {
  font-size: 12px;
  color: hsl(246, 25%, 77%);
  text-align: center;
}

span {
  font-weight: 500;
}

.form-card p > a {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  text-decoration: none;
}

.submit {
  color: #fff;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  display: block;
  border: 1px solid hsl(154, 59%, 51%);
  border-radius: 4px;
  box-sizing: border-box;
  background: hsl(154, 59%, 51%);
  text-transform: uppercase;
}

.submit:hover {
  cursor: pointer;
}

.shadow-light {
  box-shadow: 0 6px 1px hsl(153, 24%, 82%);
}

.shadow-dark {
  box-shadow: 0 8px 1px hsl(0deg 0% 21% / 26%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 780px) {
  body {
    padding: 2rem;
  }

  main {
    display: block;
  }

  .main-ad {
    padding: 2rem 0;
    margin: 2.5rem 0;
    text-align: center;
    line-height: 1.5;
  }

  .main-ad h1 {
    font-size: 1.5rem;
  }

  .card-header p {
    margin: 1rem 3rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .free-trial,
  .main-ad {
    width: 100%;
    margin: 1rem 0;
  }
}
